<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
<div>
    <a href="/cars?count=1">Показать 1 машину</a>
    <br>
    <a href="/cars?count=2">Показать 2 машины</a>
    <br>
    <a href="/cars?count=3">Показать 3 машины</a>
    <br>
    <a href="/cars?count=4">Показать 4 машины</a>
    <br>
    <a href="/cars?count=5">Показать 5 машин</a>
    <br>
    <a href="/cars?count=999">Показать 999 машин (выведется 5)</a>
    <br>
    <a href="/cars">запрос без параметров (выведется 5)</a>
</div>
</body>
</html>